.del-modal {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
}

.del-modal-content{
    padding: 20px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
}

.del-modal-content p:first-child {
    font-size: 1.3em;
    font-weight: bold;

}

.del-modal-content p:nth-child(2) {
    font-size: 1.5em;
    color: #717171;
}

.del-modal-content button {
    float: right;
    box-shadow:
            3px 3px 0 grey,
            0 0 0 grey,
            0 0 0 grey,
            0 0 0 grey,
            1px 1px 8px grey;
}